<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a routerLink="/home" class="link-underline-primary">
            <img class="img" src="/assets/logo.png" alt="App Logo">
            <span>Work In Progress</span>
        </a>
        <!-- A button alternative to the above anchor tag
        <button type="button" class="sidebar-button" (click)="/home">
            <img class="img" src="/assets/logo.png" alt="App Logo">
            <span>Work In Progress</span>
        </button>
        -->
    </div>
    <div class="list-group list-group-flush">
        <a routerLink="/home" class="list-group-item list-group-item-action item-home" style="width: max-content">
            <i class="fas fa-home"></i> 
            <span>Home</span>
        </a>
        <a routerLink="/explore" class="list-group-item list-group-item-action item-explore" style="width: max-content">
            <i class="fas fa-compass"></i>
            <span>Explore</span>
        </a>
        <a routerLink="/notifications" class="list-group-item list-group-item-action item-notifications" style="width: max-content">
            <i class="fas fa-bell"></i>
            <span>Notifications</span>
        </a>
        <a routerLink="/messages" class="list-group-item list-group-item-action item-messages" style="width: max-content">
            <i class="fas fa-envelope"></i>
            <span>Messages</span>
        </a>
        <a routerLink="/grok" class="list-group-item list-group-item-action item-grok" style="width: max-content">
            <i class="fas fa-brain"></i>
            <span>Grok</span>
        </a>
        <a routerLink="/bookmarks" class="list-group-item list-group-item-action item-bookmarks" style="width: max-content">
            <i class="fas fa-bookmark"></i>
            <span>Bookmarks</span>
        </a>
        <a routerLink="/communities" class="list-group-item list-group-item-action item-communities" style="width: max-content">
            <i class="fas fa-users"></i>
            <span>Communities</span>
        </a>
        <a routerLink="/premium" class="list-group-item list-group-item-action item-premium" style="width: max-content">
            <i class="fas fa-gem"></i>
            <span>Premium</span>
        </a>
        <a routerLink="/business" class="list-group-item list-group-item-action item-business" style="width: max-content">
            <i class="fas fa-briefcase"></i>
            <span>Business</span>
        </a>
        <a routerLink="/profile-page" class="list-group-item list-group-item-action item-profile" style="width: max-content">
            <i class="fas fa-user"></i>
            <span>Profile</span>
        </a>
        <a routerLink="/more" class="list-group-item list-group-item-action item-more" style="width: max-content">
            <i class="fas fa-ellipsis-h"></i>
            <span>More</span>
        </a>

        <div class="main-posting-section">
            <button type="button" class="post-button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Post</span></button>
        </div>
    </div>

    <!-- User Info -->
    <button class="btn user-info" data-bs-toggle="dropdown" aria-expanded="false">
        <!-- <img src="/path/to/profile-image.jpg" alt="Profile Image" class="profile-image"> -->
        <img class="profile-image" src="/assets/profile_image_test.jpg" alt="Profile Image">
        <span>Welcome, {{ userProfile.username }}!</span>
    </button>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
        <li><a class="dropdown-item" href="#">View Profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" (click)="changeTheme()">Toggle Light-Dark</a></li>
            <!-- Rounded switch -->
        <li><input type="checkbox" id="switch" onclick="event.stopPropagation();" /><label for="switch">Toggle</label></li>
    </ul>
</div>


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="postbox">
            <form id="postForm" (ngSubmit)="createPost()">
                <div class="postbox_input">
                    <textarea id="postTweet" [(ngModel)]="content" placeholder="What's on your mind?" name="postContent" required></textarea>
                </div>
                <button class="postbox_button" type="submit">Post</button>
            </form>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>