     <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Therichpost </div>
        <div class="list-group list-group-flush">
            <a routerLink="/home" class="list-group-item list-group-item-action">
                <i class="fas fa-home"></i> 
                Home
            </a>
            <a routerLink="/explore" class="list-group-item list-group-item-action">
                <i class="fas fa-compass"></i>
                Explore
            </a>
            <a routerLink="/notifications" class="list-group-item list-group-item-action">
                <i class="fas fa-bell"></i>
                Notifications
            </a>
            <a routerLink="/messages" class="list-group-item list-group-item-action">
                <i class="fas fa-envelope"></i>
                Messages
            </a>
            <a routerLink="/grok" class="list-group-item list-group-item-action">
                <i class="fas fa-brain"></i>
                Grok
            </a>
            <a routerLink="/bookmarks" class="list-group-item list-group-item-action">
                <i class="fas fa-bookmark"></i>
                Bookmarks
            </a>
            <a routerLink="/communities" class="list-group-item list-group-item-action">
                <i class="fas fa-users"></i>
                Communities
            </a>
            <a routerLink="/premium" class="list-group-item list-group-item-action">
                <i class="fas fa-gem"></i>
                Premium
            </a>
            <a routerLink="/business" class="list-group-item list-group-item-action">
                <i class="fas fa-briefcase"></i>
                Business
            </a>
            <a routerLink="/profile" class="list-group-item list-group-item-action">
                <i class="fas fa-user"></i>
                Profile
            </a>
            <a routerLink="/more" class="list-group-item list-group-item-action">
                <i class="fas fa-ellipsis-h"></i>
                More
            </a>
        </div>
        <div class="user-info">
            <p>Welcome, {{ userProfile.username }}!</p>
            <button (click)="logout()">Logout</button>
        </div>
        <input type="checkbox" class="checkbox" id="checkbox">
    </div>
    <!-- /#sidebar-wrapper -->


<!-- <button type="button" class="post-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Post</button> -->

<!-- 
<div class="user-info">
  <p>Welcome, {{ userProfile.username }}!</p>
  <button (click)="logout()">Logout</button>
</div>

</nav>
-->