<div class="container">
  <div class="tabs d-flex">
    <div class="tab-link active">For you</div>
    <div class="tab-link">Following</div>
  </div>

  <!-- Post Box -->
  <div class="post-box">
    <div class="d-flex">
      <img class="profile-image" [src]="userProfile?.profilePicture ? 'data:image/jpeg;base64,' + userProfile.profilePicture : ''" alt="Profile image">
      <form (ngSubmit)="createPost()" class="post-form">
        <textarea class="form-control" rows="1" [(ngModel)]="content" placeholder="What's on your mind?" name="postContent" required></textarea>
  
        <!-- Custom Icon for File Upload -->
        <div class="custom-file-input mt-2">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input">
          <i class="fas fa-upload file-icon"></i>
        </div>
  
        <!-- Preview Image -->
        <div *ngIf="selectedFile" class="preview-container">
          <img [src]="selectedFile" alt="Selected media preview" class="preview-image">
        </div>
  
        <button class="post-button" type="submit">Post</button>
      </form>
    </div>
  </div>
  
  

  <!-- Post Container -->
  <div class="post-container">
    <div class="content" *ngFor="let post of posts">
      <mat-card class="post-card">
        <mat-card-header>
          <mat-card-title class="title"><strong>{{ post.username }}</strong> {{ post.content }}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{ post.timestamp | date: 'short' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="post-image-container" *ngIf="post.media">
            <img [src]="post.media" alt="Post image" class="post-image">
          </div>
          <div class="post-actions">
            <div class="action like-action" (click)="likePost(post.id)">
              <i class="fas fa-heart"></i>
            </div>
            <div class="action comment-action">
              <i class="fas fa-comment"></i>
            </div>
          </div>
          <div class="like-count">
            <span>{{ post.likes ?? 0 }} Likes</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
