<div class="container">
    <div class="tabs d-flex">
      <div class="tab-link active">For you</div>
      <div class="tab-link">Following</div>
    </div>


    <!-- Post Box -->
    <div class="post-box">
        <div class="d-flex">
          <img class="profile-image" src="/assets/profile_image_test.jpg" alt="Profile Image">
          <textarea class="form-control" rows="1" placeholder="What is happening?!" [(ngModel)]="content" name="postContent"></textarea>
        </div>
  
        <!-- Icons and Post button -->
        <div class="icon-group mt-2">
          <div class="d-flex">
            <i class="fas fa-gem"></i>
            <i class="fas fa-gem"></i>
            <i class="fas fa-gem"></i>
            <i class="fas fa-gem"></i>
            <i class="fas fa-gem"></i>
            <i class="fas fa-gem"></i>
          </div>
          <button type="button" class="post-button" (click)="createPost()"><span>Post</span></button>
          <!-- <button class="btn btn-primary">Post</button> -->
        </div>
      </div>
  
      <!-- Show posts -->
      <div class="show-posts mt-3">Show 35 posts</div>
    </div>



<!--

<div class="feed">
    <div class="feed_header">
        <h2>Home</h2>
    </div>

    <div class="tweetbox">
        <form>
            <div class="tweetbox_input">
                <input type="text" placeholder="What's happening?" />
            </div>
            <button class="tweetbox_button">Tweet</button>
        </form>
    </div>
</div>

-->



    <!-- 
    <div class="input-group">
        <span class="input-group-text">With textarea</span>
        <textarea class="form-control" placeholder="What is happening?!" aria-label="With textarea"></textarea>
      </div>

    <div class="postbox">
        <form id="postForm" (ngSubmit)="createPost()">
            <div class="postbox_input">
                <input type="text" id="postTweet" name="content" [(ngModel)]="content" placeholder="What's on your mind?" required />
            </div>
            <button class="postbox_button" type="submit" >Post</button>
        </form>
    </div>
    -->
<!-- post box -->
