<div class="sidebar">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2" (keydown)="onKeydown($event)" (focus)="showDropdown()" (blur)="hideDropdown()">
    <div class="dropdown-menu" [class.show]="dropdownVisible">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <!-- Sidebar content here -->
  <div class="card" style="width: 18rem;">
    <img src="./assets/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Subscribe to Premium</h5>
      <p class="card-text">Subscribe to unlock new features and if eligible, receive a share of ads revenue.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
